// 登录注册输入错误
.error-msg
  color #f50
  padding 0.2rem 0 0 0.2rem
.hide
  display none
  &.show
    display block
// 输入框文字方向
.hhf-info-right-input
  input
    text-align right
// 让内容飘出视窗之外
.hhf-content-window-outside
  position fixed
  top -100rem
  left -100rem
  z-index -1